@model SneakerDrop.Mvc.Models.UserViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="w-100">
    <div class="mt-5 text-center align-content-center">
        <h4 class="mb-2">SneakerDrop</h4>
        @using (@Html.BeginForm("login", "User"))
        {
            <div id="loginDiv" class="text-left p-3 box-shadow">
                <div>
                    <div class="d-block">
                        @Html.LabelFor(u => u.Username, "Username")
                    </div>
                    <div>
                        @Html.TextBoxFor(u => u.Username, new { @required = "required", placeholder = "Enter Your Username", @class = "w-100 form-control" })
                    </div>
                    @Html.ValidationMessageFor(u => u.Username)
                </div>
                <div>
                    <div class="d-block">
                        @Html.LabelFor(p => p.Password, "Password")
                    </div>
                    <div>
                        @Html.TextBoxFor(p => p.Password, new { @required = "required", placeholder = "Enter Your password", @class = "w-100 form-control" })
                    </div>
                    @Html.ValidationMessageFor(p => p.Password)
                </div>
                <div class="mt-3 text-center">
                    <div>
                        <button class="w-100 btn btn-warning btnText" type="submit">Sign In</button>
                    </div>
                    <div class="mt-5">
                        <div class="mb-2">
                            <small class="d-inline">New to SneakerDrop?</small>
                        </div>
                        <a class="signin btn btn-light w-100 btnText" href="SignUp">Create a SneakerDrop Account</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

