@model SneakerDrop.Mvc.Models.UserViewModel


@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    @using (@Html.BeginForm("login", "User"))
{
    <div class="col-12">

        @Html.LabelFor(u=> u.Username, "Username")
        @Html.TextBoxFor(u => u.Username, new { @required = "required", placeholder = "Enter Your Username" })
        @Html.ValidationMessageFor(u => u.Username)

    </div>

    <div class=" col-12">
        @Html.LabelFor(p => p.Password, "Password")
        @Html.TextBoxFor(p => p.Password, new { @required = "required", placeholder = "Enter Your password" })
        @Html.ValidationMessageFor(p => p.Password)
    </div>

    <button type="submit">Login</button>
    <div><a class="signin" href="~/Home/Register">New? SignUp! </a></div>


}
</div>

