@model List<SneakerDrop.Mvc.Models.OrderAndPaymentViewModel>

@{
    ViewData["Title"] = "Catalog";
}

<partial name="../Partials/GeneralHeader.cshtml" />
@using (Html.BeginForm("Cart", "Home", FormMethod.Get))
{
    <div class="search d-inline">
        <div>
            <main role="main">
                <div class="homeBanner2"></div>
                <div class="container  mt-5 box-shadow">
                    <h4>Cart Items</h4>
                    <hr />
                    <div class="d-flex align-content-start flex-wrap">
                        <h5>@ViewBag.MessageBad</h5>
                        @if (ViewBag.MessageGood == "You Have Added")
                        {
                            @foreach (var item in Model)
                            {
                                <div class="w-100">
                                    <div class="d-inline-block w-25 align-top">
                                        <img class="listingImage" src="@item.ImageUrl" alt="@item.ProductInfoId" />
                                    </div>
                                    <div class="d-inline-block w-50 mb-2">
                                        <span class="d-block btnText"><strong>Product:</strong>@item.ProductTitle</span>
                                        <span class="d-block btnText"><strong>Price:</strong>@item.UserSetPrice</span>
                                        <span class="d-block btnText"><strong>Colorway:</strong>@item.Color</span>
                                        <span class="d-block btnText"><strong>Quantity:</strong>@item.Quantity</span>
                                    </div>
                                    <div class="d-inline-block align-top">
                                        <button name="delete" type="submit" value="@item.ListingId" class="btn btn-link btnText">Delete</button>
                                    </div>
                                    <hr />
                                </div>
                            }
                            <div class="w-100 text-right mb-3">
                                <button name="delete" class="btn btn-warning" value="checkout"><div class="btnText">Proceed to Checkout</div></button>
                            </div>
                        }
                        <div class="w-100 text-right">
                            <div>
                                <strong> Your Cart Total</strong>
                                <p>@ViewBag.Price</p>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>
}

