@model SneakerDrop.Mvc.Models.CreateNewListingViewModel

@{
    ViewData["Title"] = "Create Listing";
}

<partial name="../Partials/GeneralHeader" />
<div class="container text-center mt-5">
    <div>

        <div>
            <h1>@Model.ProductTitle</h1>
            <img class="singleItemPhotoSell" src="@Model.ImageUrl" alt="@Model.ProductTitle" />
        </div>
        <div class="text-left row">
            <div class="col-6">
                <p><strong>COLOR WAY</strong> @Model.Color</p>
                <p><strong>RETAIL PRICE</strong> $@Model.DisplayPrice</p>
                <p><strong>RELEASE DATE</strong> @Model.ReleaseDate</p>
            </div>
            <div class="col-6">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="text-left pt-5 mb-5 pb-5">
        <div>
            @using (@Html.BeginForm("CreateListing", "Store"))
            {
                <div class="row">
                    <div class="mr-2 ml-2">
                        <div>
                            @Html.LabelFor(m => m.UserSetPrice, "Price", new { @class = "" })
                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.UserSetPrice, new { @class = "", type = "number" })
                        </div>
                    </div>
                    <div class="mr-2 ml-2">
                        <div>
                            @Html.LabelFor(m => m.Size, "Size", new { @class = "" })
                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.Size, new { @class = "" })
                        </div>
                    </div>
                    <div class="mr-2 ml-2">
                        <div>
                            @Html.LabelFor(m => m.Quantity, "Quantity", new { @class = "" })
                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.Quantity, new { @class = "", type = "number" })
                        </div>
                    </div>
                    <div class="mr-2 ml-2">
                        <div>
                            @Html.Label("Button", "", new { @class = "" })
                        </div>
                        <div>
                            <button type="submit" class="btn-success">Create</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
