@model SneakerDrop.Mvc.Models.CreateNewListingViewModel

@{
    ViewData["Title"] = "Create Listing";
}

<partial name="../Partials/GeneralHeader" />
<div class="container text-center mt-5">
    <div>

        <div>
            <h1>@Model.ProductTitle</h1>
            <img class="singleItemPhoto" src="@Model.ImageUrl" />
        </div>
        <div class="text-left row">
            <div class="col-6">
                <p><b>COLOR WAY</b> @Model.Color</p>
                <p><b>RETAIL PRICE</b> $@Model.DisplayPrice</p>
                <p><b>RELEASE DATE</b> @Model.ReleaseDate</p>
            </div>
            <div class="col-6">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="text-left pt-5 mb-5 pb-5">
        <div>
            @using (@Html.BeginForm("createListing", "Store"))
            {
                @Html.TextBoxFor(m => m.UserSetPrice, new { @class = "" })
                @Html.TextBoxFor(m => m.Size, new { @class = "" })
                @Html.TextBoxFor(m => m.Quantity, new { @class = "" })
                <button type="submit" class="btn btn-success">Create Listing</button>
            }

        </div>
    </div>
