@model List<SneakerDrop.Mvc.Models.OrderAndPaymentViewModel>

@{
    ViewData["Title"] = "Order";
}

@using (Html.BeginForm("OrderProcess", "Store", FormMethod.Get))
{
    <div class="search d-inline">
        <main>
            <main role="main">
                <div class="homeBanner2"></div>
                <div class="container  mt-5 box-shadow">
                    <h4>Your Order, @ViewBag.Username </h4>
                    <div>
                     
                        
                        <p>Your Current Address</p>

                        <span class="d-block btnText">@ViewBag.Street</span>
                        <span class="d-block btnText">@ViewBag.City</span>
                        <span class="d-block btnText">@ViewBag.State</span>
                        <span class="d-block btnText">@ViewBag.PostalCode</span>
                        <p>Your Current Payment Information </p>
                        <span class="d-block btnText">@ViewBag.CardName</span>
                        <span class="d-block btnText">@ViewBag.CardNumber</span>
                        <span class="d-block btnText">@ViewBag.Expiration</span>

                        <p>Your Current Order</p>
                        @foreach (var item in Model)
                        {
                            <span class="d-block btnText">@item.ProductTitle</span>
                            <span class="d-block btnText">@item.UserSetPrice</span>
                        }

                        <p>Total Price</p>
                        <span class="d-block btnText">@ViewBag.TotalPrice</span>



                        <button name="complete" type="submit" value="done" class="btn btn-danger">Complete Order</button>
                        
                    </div>
                    </div>
                </main>
            </main>
        </div>
        
    }

