@model List<SneakerDrop.Mvc.Models.AddressViewModel>

<partial name="./GeneralHeader.cshtml" />
<div class="container">
    <h4 class="mt-4">Your Addresses</h4>
</div>
@using (@Html.BeginForm("userchange", "Home"))
{
    @*foreach (var item in Model)
        {
            <div>
                <p></p>
            </div>
        }*@
    @*<div class="text-center">
            @Html.LabelFor(u => u.Street, "Street")
            @Html.TextBoxFor(u => u.Street, new { @required = "required", placeholder = "320 Peter Parker Lane" })
            @Html.ValidationMessageFor(u => u.Street)
        </div>
        <div class="text-center">
            @Html.LabelFor(u => u.City, "City")
            @Html.TextBoxFor(u => u.City, new { @required = "required", placeholder = "Tampa" })
            @Html.ValidationMessageFor(u => u.City)
        </div>
        <div class="text-center">
            @Html.LabelFor(u => u.State, "State")
            @Html.TextBoxFor(u => u.State, new { @required = "required", placeholder = "Florida" })
            @Html.ValidationMessageFor(u => u.State)
        </div>
        <div class="text-center">
            @Html.LabelFor(u => u.PostalCode, "ZipCode")
            @Html.TextBoxFor(u => u.PostalCode, new { @required = "required", placeholder = "37451" })
            @Html.ValidationMessageFor(u => u.PostalCode)
        </div>
        <div class="text-center">
            <button type="submit">Submit</button>
        </div>*@
}
